<table>
  <thead>
  <tr>
    <% @props.each do |prop| %>
      <th><%= @model.human_attribute_name(prop) %></th>
    <% end %>
    <th><%= t("model_table_component.actions") %></th>
  </tr>
  </thead>

  <tbody>
  <% @rows.each do |row| %>
    <tr>
      <% @props.each do |prop| %>
        <td>
          <%= if row[prop].is_a?(Numeric)
                number_with_delimiter(row[prop], delimiter: " ", separator: ".")
              elsif row[prop].methods.include?(:strftime)
                row[prop].strftime("%Y, %b %-d")
              else
                row.send(prop)
              end %>
        </td>
      <% end %>
      <td><%= link_to t("model_table_component.details"), row %></td>
    </tr>
  <% end %>
  <% if helpers.authenticated? %>
    <tr>
      <td colspan="100%">
        <%= link_to(
              t(
                "model.new",
                model: @model.model_name.human.downcase
              ),
              @model.name.downcase.pluralize + "/new"
            ) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
