<h1><%= t("model.new", model: Account.model_name.human) %></h1>

<%= form_with model: @account do |form| %>
  <table class="borderless">

    <%= render TextFieldRowComponent.new(form:, model: @account, prop: :username) %>
    <%= render PasswordFieldRowComponent.new(form:, model: @account, prop: :password) %>
    <%= render PasswordFieldRowComponent.new(form:, model: @account, prop: :password_confirmation) %>

    <tr>
      <td colspan="100%"><%= form.submit t("model.create", model: Account.model_name.human) %></td>
    </tr>
  </table>
<% end %>
