<% cache @account do %>
  <div style="display: flex; justify-content: space-between">
    <h1><%= t(".title", name: @account.username) %></h1>
    <%= button_to t("delete"), @account, method: :delete, data: { turbo_confirm: t(".delete_confirm", username: @account.username) } if authenticated? %>
  </div>

  <hr>

  <p>
    This account belongs to the player
    <%= link_to @account.player.full_name, @account.player %>, reachable at
    <%= mail_to @account.player.email_address %>.
  </p>

  <hr>

  <h2><%= Character.model_name.human(count: 0) %></h2>

  <%= render "characters/short_table", characters: @account.characters %>
<% end %>
