<% cache @account do %>
  <div style="display: flex; justify-content: space-between">
    <h1>Account <%= @account.username %></h1>
    <%= button_to "Delete", @account, method: :delete, data: { turbo_confirm: "Do you want to delete the account “#{@account.username}”?" } if authenticated? %>
  </div>

  <hr>

  <p>
    This account belongs to the player
    <%= link_to @account.player.full_name, @account.player %>, reachable at
    <%= mail_to @account.player.email_address %>.
  </p>

  <hr>

  <h2>Characters</h2>

  <%= render "characters/short_table", characters: @account.characters %>

  <hr>

  <h2>Clans</h2>

  <% if @account.clans.empty? %>
    This account has not made any clans.
  <% else %>
    <ul>
      <% @account.clans.each do |clan| %>
        <li><%= link_to clan.name, clan %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
